.presentation {
    position: relative;
    padding: 168px 40px 84px 0;
    /* background-color: darkgrey; */
    background-image: url(../images/presentation_bg.png);
    background-position: right;
    background-size: 62.5%;
    background-repeat: repeat-y;
}
.presentation__img {
    width: 52%;
    height: 650px;
    object-fit: cover;
    /* object-position: center; default */
}
.presentation__text__big {
    font-size: 78px;
    font-weight: 700;
}
.presentation__text__opacity {
    opacity: 0.5;
}
.presentation__text__small {
    margin-top: 30px;
    font-size: 18px;
    line-height: 150%;
    /* line-height: 27px; */
}

.presentation__text {
    position: absolute;
    right: 40px;
    height: 650px;
    max-width: 52%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 900px) {
    .presentation__text__big {
        font-size: 56px;
    }
}
@media (max-width: 768px) {
    .presentation {
        background: none;
    }
}
@media (max-width: 600px) {
    .presentation__img {
        width: 100vw;
        height: 80vw;
    }
    .presentation {
        padding: 0;
        padding-top: 72px;
    }
    .presentation__text {
        position: static;
        max-width: 100%;
        padding: 48px 20px;
        height: max-content;
    }
    .presentation__text__big {
        font-size: 32px;
    }
}