
.work-exp > .grey_text {
    font-size: 16px;
}
.work-exp__title > h2 {
    max-width: 690px;
    margin-top: 8px;
}

.work-exp__jobs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin-top: 40px;
}
.work-exp__jobs > * {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}
.work-exp__jobs__big-digit {
    font-size: 117px;
}
.work-exp__jobs__title {
    font-size: 24px;
}
.work-exp__jobs__description {
    margin-top: 24px;
    font-size: 16px;
    max-width: 368px;
}




@media (max-width: 600px) {
    .work-exp__jobs {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content max-content;
        gap: 40px;
    }
    .work-exp__jobs > * {
        padding: 0;
    }
    .exp__jobs__description {
        margin-top: 16px;
    }
}
