@font-face {
    font-family: 'Sen Regular';
    src: url(./fonts/Sen-Regular.ttf);
}
@font-face {
    font-family: 'Sen Bold';
    src: url(./fonts/Sen-Bold.ttf);
}

body, button {
    font-family: 'Sen Regular';
}
button {
    background: none;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header, main, footer {
    max-width: 1440px;
    width: 100vw;
}
main {
    background-color: black;
    min-height: 100vh;
}

.fat_text {
    font-weight: 700;
    line-height: 150%;
}
.grey-text {
    color: #8491A0;
}
.green_text {
    color: #3CC74E;
}
.blue_text {
    color: #609BFF;
}
.pink_text {
    color: #E95D90;
}