@font-face {
    font-family: 'Sen Regular';
    src: url(./fonts/Sen-Regular.ttf);
}
@font-face {
    font-family: 'Sen Bold';
    src: url(./fonts/Sen-Bold.ttf);
}

body, button {
    font-family: 'Sen Regular';
}
button {
    background: none;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header, main, footer {
    max-width: 1440px;
    width: 100vw;
}
main {
    background-color: black;
    min-height: 100vh;
}

main > section, .standart_padding {
    padding: 120px 72px;
}
h2 {
    font-size: 55px;
    font-family: 'Sen Bold';
}
@media (max-width: 800px) {
    main > section, .standart_padding {
        padding: 80px 40px;
    }
}
@media (max-width: 600px) {
    main > section, .standart_padding {
        padding: 48px 20px;
    }
    h2 {
        font-size: 32px;
    }
}

.bold_text {
    font-family: 'Sen Bold';
}
.grey_text {
    color: #8491A0; 
}
.green_text {
    color: #3CC74E;
}
.blue_text {
    color: #609BFF;
}
.pink_text {
    color: #E95D90;
}
.height_text {
    line-height: 150%;
}